{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Active competitions in Sm@rtools</div>
  <!-- Table -->
  <table class="table">
      <thead>
           <tr>
               <th>Name</th>
               <th>Description</th>
               <th>Actions</th>
           </tr>
     </thead>
      <tbody>
   {% for competition in competitions %}
      <tr>
          <td>{{competition.name}}</td>
          <td>{{competition.description}}</td>
          <td>
              <a class="btn btn-success" href="{{competition.get_competition_url}}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true">   </span>  Go to Competition</a>
          </td>
      </tr>
   {% endfor%}
      </tbody>


  </table>
</div>
{% endblock %}