{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}
<script src="http://content.jwplatform.com/libraries/RbzKMzDD.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">
            <h3 class="panel-title">Competition : <strong>{{competition.name}}</strong></h3>
    </div>
    <div class="panel-body">
        <p align="center"><a class="btn btn-success btn-lg" href="{{competition.get_upload_video_url}}"
                             role="button"><span
                class="glyphicon glyphicon-plus-sign"></span> Add video</a></p>

        {% for video in videos %}
           {% if videos|length < 1%}
                Nothing to Show
           {% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{video.title}} - <i>{{video.clientfirtsName}} {{video.clientLastName}}</i>
                    </h4>
                </div>
                <div class="panel-body">
                    <div id="convertedvideo{{forloop.counter}}">
                            <script type="text/javascript">
                                jwplayer('convertedvideo{{forloop.counter}}').setup({
                                    file:"rtmp://s2j7yqs7egvs36.cloudfront.net:1935/cfx/st/mp4:{{video.convertedVideoPath}}"
                                });
                            </script>

                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if videos.has_previous %}
            <a href="?page={{ videos.previous_page_number }}"> Previous</a>
        {% endif %}

        <span class="current">
            Page {{ videos.number }} of {{ videos.paginator.num_pages }}.
        </span>

        {% if videos.has_next %}
            <a href="?page={{ videos.next_page_number }}"> Next</a>
        {% endif %}
    </span>
</div>

{% endblock %}