{% extends 'base.html'%}
{% load staticfiles %}

{% block content %}
<div class="col-lg-10 col-lg-offset-1">
    <div class="jumbotron">
        <h1>Congratulations!</h1>

        <h2> Your video is already in the Competition!</h2>

        <p>In few minutes you will receive a confirmation email </p>

        <p><a class="btn btn-success btn-lg" href="/{{competition.get_upload_video_url}}" role="button"><span
                class="glyphicon glyphicon-plus-sign"></span> Add more videos</a></p>
    </div>
</div>

{% endblock%}