{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}

<div class="col-md-6">
<div class="panel panel-primary">
    <div id="upload">
        <form role="form" class="col-lg-12"  enctype="multipart/form-data" method="post" action="{% url 'upload_video' %}">
            <legend>Upload Video</legend>
            {% csrf_token %}
            {{ form|bootstrap}}
            <div class="form-group">
                <button align="center" type="submit" class="btn btn-success btn-lg">Upload</button>
            </div>
        </form>
    </div>
</div>
</div>
<div class="col-md-6">
    <h2>Company <span class="label label-default">Competition X</span></h2>
    <br>
    <img src='{% static "images/guitar.jpg" %}' class="img-responsive img-circle" alt="Competitions Image">

</div>




{% endblock%}