{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mouse-pointer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Publish your competitions!</h4>
                    <p class="text-muted">Now you just have to click: PUBLISH! Publish your competition and start increasing your number of users, improving engagement, and selling more and more effectively!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Create Contests and Promotions</h4>
                    <p class="text-muted">Create a slogan so your Fans can upload videos and their friends can then watch the video.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Manage your competitions and videos</h4>
                    <p class="text-muted">You can manage which videos are already in competition, change deadline and watch all videos!! </p>
                </div>
            </div>

{% endblock %}